name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: yusancky/setup-typst@v2
        id: setup-typst
        with:
          version: "v0.10.0"
      - run: sudo apt-get install -y make
      - run: typst compile main.typ
      - run: typst compile apatest.typ
      - uses: actions/upload-artifact@v2
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          name: main.pdf
          path: main.pdf
